@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/* reset html */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 0; */
  /* outline: 0; */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  background: #41295a;
  background: -webkit-linear-gradient(to right, #2f0743, #41295a);
  background: linear-gradient(to right, #2f0743, #41295a);
}

/* area navbar */
.navbar-gaz {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: rgba(43, 15, 71, 0);
}

.menu-list-gaz a {
  color: white;
  text-decoration: none;
}

.menu-list-gaz a:hover {
  color: white;
}

.navbar-image {
  display: flex;
  position: relative;
  top: 1rem;
  align-items: center;
  left: 2rem;
}

.navbar-image h3 {
  position: relative;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.02em;
  top: 0.3rem;
  color: white;
}

.navbar-image img {
  width: 50px;
  margin-right: 0.7rem;
}

.menu-gaz {
  display: flex;
  position: relative;
  bottom: 1.2rem;
}
.menu-gaz:hover {
  color: pink;
}

.menu-gaz li {
  margin-left: 3rem;
  letter-spacing: 0.1em;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 500;
}

.menu-gaz ul,
li {
  display: flex;
}

/* area jumbotron */
.jumbotron-gaz {
  position: relative;
  top: 0.3rem;
  width: 100%;
  height: 600px;
  background-color: grey;
  background-image: url(https://i.ytimg.com/vi/Z-YPyahoSiw/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-gaz {
  position: absolute;
  right: 7rem;
  top: 18rem;
}

.jumbotron {
  height: 100%;
  width: 100%;
  background: rgba(136, 3, 159, 0.411);
  background: linear-gradient(90deg, rgba(115, 3, 159, 0.466) 0%, rgba(69, 18, 106, 0) 85%);
}

.container-gaz h3 {
  margin-bottom: 1.4rem;
  text-shadow: 0px 2px 7px #000000;
  color: white;
  font-size: 50px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.container-gaz button {
  position: relative;
  left: 9rem;
  border: 1px white solid;
  color: #7000a8;
  font-family: "Poppins";
  font-weight: 500;
  border-radius: 7px;
  font-size: small;
  padding: 10px 40px;
}

/* area konten */
.container-konten {
  position: relative;
  padding-top: 5rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.container-konten h3 {
  font-size: 35px;
  font-weight: 600;
  color: white;
  text-shadow: 0px 2px 7px #000000;
  padding-bottom: 1rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.container-konten img {
  width: 180px;
}

/* konten card */
.gaz-tournament-card {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-gaz {
  margin-right: 3rem;
  height: 194px;
  width: 348px;
  border-radius: 11px;
  border: 4px solid #9d0498;
  background: linear-gradient(89.71deg, #6929af 1.95%, #3b2999 99.75%);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card-gaz-list {
  color: white;
  font-size: x-large;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  position: relative;
  top: 3rem;
}

.card-button {
  position: relative;
  top: 5rem;
  padding: 10px 20px;
  color: white;
  font-size: small;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.403);
  border: 0px solid white;
  transition: 2s;
}

.card-button:hover {
  padding: 10px 70px;
}

/* gaz tv */
.gaz-tv {
  position: relative;
  margin-top: 6rem;
}

.gaz-tv h3 {
  font-size: 35px;
  font-weight: 600;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 0px 2px 7px #000000;
  padding-bottom: 1rem;
}

.gaz-tv-layar img {
  width: 600px;
  border-radius: 15px;
  background-color: #2f0743;
}

/* gaz event */
.gaz-event {
  position: relative;
  margin-top: 5rem;
}

.gaz-event h3 {
  font-size: 35px;
  font-weight: 600;
  color: white;
  text-shadow: 0px 2px 7px #000000;
  padding-bottom: 1rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.gaz-event-card {
  padding-top: 6rem;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Poppins',Arial, Helvetica, sans-serif
}

.gaz-event-card-1 {
  position: relative;
  width: 359px;
  height: 410px;
  border: solid 3px #3f046c;
  border-radius: 8px;
  background: rgb(49, 1, 92);
  background: linear-gradient(101deg, rgba(49, 1, 92, 1) 5%, rgba(49, 1, 92, 1) 56%, rgba(1, 1, 1, 1) 90%);
}

.gaz-event-card-2 {
  position: relative;
  z-index: 1;
  border-radius: 8px;
  bottom: 0.8rem;
  left: 0.3rem;
  width: 359px;
  height: 410px;
  border: solid 3px #3f046c;
}

.gaz-event-card-3 {
  position: relative;
  z-index: 2;
  border-radius: 8px;
  bottom: 0.8rem;
  left: 0.3rem;
  width: 359px;
  height: 410px;
  border: solid 3px #3f046c;
}

.gaz-event-card-3 img {
  position: relative;
  background-color: #630aa3;
  border-radius: 12px;
  width: 110px;
  right: 7.5rem;
}

.gaz-event-card-3 .judul-event {
  text-align: start;
  color: white;
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
  font-size: 21px;
  padding: 60px 0px 15px 15px;
}

.gaz-event-card-3 p {
  text-align: start;
  padding: 15px;
  color: white;
}

/* carousel */
.carousel-item img {
  object-fit: cover;
}

.carousel-item {
  height: 100%;
  min-height: 100px;
}
.carousel-caption {
  bottom: 220px;
  z-index: 2;
}

/* area footer */
.footer-gaz {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 5rem;
  width: 100%;
  background: linear-gradient(89.71deg, rgba(98, 20, 168, 0.5) 1.95%, rgba(59, 41, 153, 0.5) 99.75%);
}

.footer-background-gaz {
  width: 100%;
  background: rgb(49, 1, 92);
  background: linear-gradient(101deg, rgba(49, 1, 92, 1) 5%, rgba(49, 1, 92, 1) 56%, rgba(1, 1, 1, 1) 90%);
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

.gambar-footer-gaz {
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.gambar-footer-gaz h3 {
  padding-top: 0.7rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 40.5px;
  color: #fff;
  letter-spacing: -0.02em;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.gambar-footer-gaz img {
  width: 50px;
  margin-right: 1rem;
}

.follow-as {
  text-align: center;
  color: #fff;
  letter-spacing: 10.1769px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  line-height: 38px;
}

.social-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 38px;
  color: #fff;
  letter-spacing: 10.1769px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 58px;
}

.social-icon {
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #222;
  font-size: 0.9rem;
  border-radius: 50%;
  transition: 0.3rem;
  background: #fff;
}

.social-icon:hover {
  color: pink;
  background-color: #222;
}

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.copyright-gaz {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 38px;
  color: #fff;
  /* letter-spacing: 10.1769px; */
}

.copyright-gaz-new {
  padding-top: 3rem;
}

.card-gaz a {
  color: white;
  text-decoration: none;
}

.card-gaz a:hover {
  color: white;
}

/* responsif */
@media  (max-width: 767px) {

}