@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/* reset html */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background: #2b1a3d;
  background: -webkit-linear-gradient(to right, #2b1a3d, #2b1a3d);
  background: linear-gradient(to right, #2b1a3d, #2b1a3d);
}

/* area navbar */
.navbar-brand, .nav-link {
  color: white !important;
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 500;
  gap: 60px;
  font-style: normal;
  line-height: 27px;
}

.navbar-brand {
  color: #fff !important; 
}

.nav-link:hover::after {
  content: '';
  display: block;
  border-bottom: 2px solid #fff;
  width: 100%;
  margin: auto;
  padding-bottom: 3px;
  margin-bottom: -5px;
}

/* area jumbotron */
.jumbotron-gaz {
  position: relative;
  top: 0.3rem;
  width: 100%;
  height: 600px;
  background-color: grey;
  background-image: url(https://i.ytimg.com/vi/Z-YPyahoSiw/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-gaz {
  position: absolute;
  right: 7rem;
  top: 18rem;
}

.jumbotron {
  height: 100%;
  width: 100%;
  background: rgba(136, 3, 159, 0.411);
  background: linear-gradient(90deg, rgba(115, 3, 159, 0.466) 0%, rgba(69, 18, 106, 0) 85%);
}

.container-gaz h3 {
  margin-bottom: 1.4rem;
  text-shadow: 0px 2px 7px #000000;
  color: white;
  font-size: 50px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.container-gaz button {
  position: relative;
  left: 9rem;
  border: 1px white solid;
  color: #7000a8;
  font-family: "Poppins";
  font-weight: 500;
  border-radius: 7px;
  font-size: small;
  padding: 10px 40px;
}

/* area konten */
.tournament .section-header h2 {
  font-weight: bold;
  color: #fff;
  padding-top: 107px;
  padding-bottom: 1rem;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 45px;
  text-align: center;
 }

 .tournament .section-header img {
  padding-bottom: 4rem;
 }


.tournament .card {
  height: 174px;
  width: auto;
  background: linear-gradient(89.71deg, #6929AF 1.95%, #3B2999 99.75%);
  text-decoration: none;
  justify-content: center;
  border-color: #6929AF;
  font-family: 'Poppins';
  border-width: 3px;
  border-radius: 16px;
  margin: 20px;
  text-align: center;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.7);
}

.tournament {
  font-family: 'Poppins';
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.card .hover span {
  width: 113.4px;
  height: 22px;
  left: 53.46px;
  top: 10.81px;
}

.card h5 {
  padding-bottom: 1rem;
  text-align: center;
}

.tournament .card .hover a  {
  font-size: 13px;
  height: auto;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.21);
  padding: 10px 50px 10px 50px;
  /* margin: 20px; */
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.tournament .card .hover a:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}


/* gaz event */
.container-fuid {
  display: flex !important;
}
.gaz-event {
  /* position: relative; */
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-family: 'Poppins';
}

.card-gaz img {
  margin-top: -1.1rem;
  margin-left: -1.9rem;
  z-index: 999 !important;
}

.gaz-event .card-body {
  justify-content: center;
  height: 370px;
  width: 300px;
}

.gaz-event h3 {
  font-size: 35px;
  font-weight: 600;
  color: white;
  text-shadow: 0px 2px 7px #000000;
  padding-bottom: 1rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.card-gaz {
  width: 200px;
  margin: 50px;
  border-color: #6214A8  !important;
  background: linear-gradient(155.14deg, rgba(255, 255, 255, 0) -2.13%, rgba(255, 255, 255, 0.04) 136.58%) !important;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 4% !important;
  z-index: 999 !important;
}
.card-gaz .card-2 {
  padding-bottom: 3rem;
}

.card-gaz::after, .card-gaz::before {
  border: 3px solid #6214A8;
  content: "";
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  left: 0;
  bottom: 0;
  z-index: 1 !important;
  transition: transform 0.3s ease;
  border-radius: 15px;
}

.card-gaz::after {
  transform: translate(-10px, 10px);
  position: absolute;
  z-index: 1 !important;
}

.card-gaz::before {
  transform: translate(-20px, 20px);
  z-index: 1 !important;
  position: absolute;
}
.card-subtitle {
  margin-left: -1rem;
}
.card-text {
  margin-left: -1rem;
}



/* carousel */
.carousel-item img {
  object-fit: cover;
}

.carousel-item {
  height: 100%;
  min-height: 100px;
}
.carousel-caption {
  bottom: 220px;
  z-index: 2;
}

/* Video pop up */

.video-gaz h1 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 3rem;
  padding-top: 8rem;
}
.container .video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.container .video-container .video {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  overflow: hidden;
}

.container .video-container .video img {
  width: 100%;  
  transition: 0.2s linear;
}
.container .popup-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  display: none;
}

.container .popup-video span:hover {
  color: red;
  opacity: 0.5;
}

.container .popup-video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  border-radius: 5px;
  border: 3px solid #fff;
  object-fit: cover;
}
.container .popup-video span {
  position: absolute;
  top: 97px;
  right: 59px;
  font-size: 50px;
  color: white;
  font-weight: bolder;
  z-index: 100;
  cursor: pointer;
}


/* area footer */
.footer-gaz {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 5rem;
  width: 100%;
  background: linear-gradient(89.71deg, rgba(98, 20, 168, 0.5) 1.95%, rgba(59, 41, 153, 0.5) 99.75%);
}

.footer-background-gaz {
  width: 100%;
  background: rgb(49, 1, 92);
  background: linear-gradient(101deg, rgba(49, 1, 92, 1) 5%, rgba(49, 1, 92, 1) 56%, rgba(1, 1, 1, 1) 90%);
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

.gambar-footer-gaz {
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.gambar-footer-gaz h3 {
  padding-top: 0.7rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 40.5px;
  color: #fff;
  letter-spacing: -0.02em;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.gambar-footer-gaz img {
  width: 50px;
  margin-right: 1rem;
}

.follow-as {
  text-align: center;
  color: #fff;
  letter-spacing: 10.1769px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  line-height: 38px;
}

.social-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 38px;
  color: #fff;
  letter-spacing: 10.1769px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 58px;
}

.social-icon {
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #222;
  font-size: 0.9rem;
  border-radius: 50%;
  transition: 0.3rem;
  background: #fff;
}

.social-icon:hover {
  color: pink;
  background-color: #222;
}

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.copyright-gaz {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 38px;
  color: #fff;
  /* letter-spacing: 10.1769px; */
}

.copyright-gaz-new {
  padding-top: 3rem;
}

.card-gaz a {
  color: white;
  text-decoration: none;
}

.card-gaz a:hover {
  color: white;
}

/* responsif */
@media  (max-width: 767px) {
  .navbar-brand, .nav-link {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}